<div class="container-fluid page-header py-5 mb-5 bg-dark text-white">
    <div class="container py-5">
      <h1 class="display-3 text-white mb-3" [@slideInDown]>Contact</h1>
      <nav aria-label="breadcrumb" [@slideInDown]>
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a class="text-white" routerLink="/">Home</a></li>
          <li class="breadcrumb-item"><a class="text-white" routerLink="/pages">Pages</a></li>
          <li class="breadcrumb-item text-white active" aria-current="page">Contact</li>
        </ol>
      </nav>
    </div>
  </div>
  
  <div class="container-fluid bg-light overflow-hidden px-lg-0 contact-section">
    <div class="container contact px-lg-0">
      <div class="row g-5 mx-lg-0">
        <div class="col-lg-6 contact-text py-4" [@fadeInLeft]>
          <div class="p-lg-5 ps-lg-2">
            <h6 class="text-primary fw-bold">{{ heading }}</h6>
            <h1 class="mb-4">{{ subheading }}</h1>
            <p class="mb-4">{{ description }}</p>
            <form [formGroup]="contactForm" (ngSubmit)="onSubmit()">
              <div class="row g-3">
                <div class="col-md-6">
                  <div class="form-floating">
                    <input formControlName="name" type="text" class="form-control" placeholder="Your Name">
                    <label>Your Name</label>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="form-floating">
                    <input formControlName="email" type="email" class="form-control" placeholder="Your Email">
                    <label>Your Email</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <input formControlName="subject" type="text" class="form-control" placeholder="Subject">
                    <label>Subject</label>
                  </div>
                </div>
                <div class="col-12">
                  <div class="form-floating">
                    <textarea formControlName="message" class="form-control" placeholder="Message" style="height: 120px"></textarea>
                    <label>Message</label>
                  </div>
                </div>
                <div class="col-12">
                  <button class="btn btn-primary rounded-pill py-3 px-5 hover-grow" type="submit">
                    Send Message
                  </button>
                </div>
              </div>
            </form>
          </div>
        </div>
        <div class="col-lg-6 pe-lg-0" style="min-height: 350px;">
            <div class="d-flex justify-content-center align-items-center h-100">
                <iframe 
                    style="width: 100%; height: 80%; border: 0; object-fit: cover;"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d240.19669952395367!2d79.87173638930545!3d15.58378265229551!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3a4ae36647bb702d%3A0x42deb0434fed3ad5!2sOptickart%20At%20Chimakurthy!5e0!3m2!1sen!2sin!4v1746524763604!5m2!1sen!2sin"
                    allowfullscreen="" aria-hidden="false" tabindex="0">
                </iframe>
            </div>
        <!-- <div class="col-lg-6 d-flex align-items-center" style="min-height: 350px;">
            <iframe 
              class="w-100 rounded" 
              height="80%" 
              style="border:0;" 
              loading="lazy"
              [src]="googleMapUrl | solar"
              allowfullscreen>
            </iframe>
          </div>           -->
      </div>
    </div>
  </div>
  